body {
	max-width: 700px;
}

.red {
	background-color: red;
	position: relative;
	height: 100px;

}

.yellow {
    height: 750px;
    background-color: yellow;
}

.blue {
	background-color: blue;
	width: 500px;
	height: 700px;
	margin: auto;

}
.green {
	background-color: green;
	height: 50px;
	width: 500px;
	margin: auto;
}